body {
	background-color: #E3C69D;
	font-size: 18px;
	color: #674726;
	text-align: center;
}
a {
	color: #A3692F;
}
h1 {
	text-align: center; /*Title*/
	font-size: 50px;
	color: #402d14;
}
h2, h3, h4{
	text-align: center; /*Basics/World Details/Timeline*/
	font-size: 30px;
	padding: 10px;
	color: #402d14;
}
table, th, tr {
	margin-inline: 100px;
	border: 1px solid #241809;
	text-align: center;
}
th {
	font-size: 25px;
	color: #402d14;
}
.basics {
	margin-inline: 250px;
}